
<%- include('../partials/header.ejs') %>






<main class="main_content">
  <div class="container">
    <div class="intro">
      <h3 class="text-dark text-center" >Welcome, <%= user.firstName +" " + user.lastName  %> </h3>
      
      
      <% if(trades.length===0) { %>
          
        <h4 class="text-dark text-center "> You don't have any trades</h4>
        
<% } else { %>
  <h4 class="text-dark text-center">Your trades</h4>
  <table class="table table-bordered" >
    <tbody>
      <tr>
        <th>Category</th>
        <th>Item</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    
<%  trades.forEach(trade=>{ %>


      <tr>
        
        <td><%=trade.categoryName%></td>
        <td><a href="/trades/<%=trade.items._id%>"><%=trade.items.itemName%></a></td>
        <td><%= trade.items.status%></td>
        <td>
          <form>
        <%  if(trade.items.status=="pending")
            { 
           
              if(trade.items.offer!=null)
              {%>
                <button type="submit">Cancel</button>
             <% }
              else
              { %>
                <button type="submit" class="btn btn-primary">Manage Offer</button>
                
             <% }

            }%>
          </form>
        </td>
      </tr>


      
  <% })} %> 
</tbody>
</table>


  
<% if(watchedItems) {%>

  <%if(watchedItems.watchedTrades.length!=0){%>
    <h4 class="text-dark text-center">Trade Watchlist </h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Items</th>
          <th>action</th>
        </tr>
      
  <%  watchedItems.watchedTrades.forEach(item=>{ %>
  
  
        <tr>
          
          <td><%=item.trade_title%></td>
          <td>
            
            <form action="/trades/<%=item.trade_item%>/unwatchtrade?_method=DELETE" method="POST">

              <button type="submit" class="btn btn-primary">Unwatch</button>

            </form>
           </td>
        
          
        </tr>
  
  
        
    <% }) %> 
  </tbody>

    </table>
    
  <%}}%>



  <%if(yourRequestedTrades.length!=0){%>
    <h4 class="text-dark text-center">Trade initiated </h4>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Items</th>
          <th>action</th>
        </tr>
      
  <%  yourRequestedTrades.forEach(trade=>{ %>
  
  
        <tr>
          
          <td><%=trade.items.itemName %></td>
          <td>
            
            <form action="" method="POST">

              <button type="submit" class="btn btn-primary">Cancel</button>

            </form>
           </td>
        
          
        </tr>

    <% }) %> 
  </tbody>

    </table>
    <% } %>
  </div>
</div>
  
  

  

</main>

  
  <%- include('../partials/footer.ejs') %>
