<%- include('../partials/header.ejs') %>
<main class="main_content">
    <div class="container">
      <div class="form">
        <form>
        
          
      <% if(userAvailableTrades.length===0) { %>
          
        <h4 class="text-dark text-center "> You don't have any trades to offer</h4>
        
<% } else { %>
  <h4 class="text-dark text-center">Your trades</h4>
  <table class="table table-bordered" >
    <tbody>
      <tr>
        <th>Category</th>
        <th>Item</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    
<%  userAvailableTrades.forEach(trade=>{ %>


      <tr>
        
        <td><%=trade.categoryName%></td>
        <td><a href="/trades/<%=trade.items._id%>"><%=trade.items.itemName%></a></td>
        <td><%= trade.items.status%></td>
        <td>

            <form>
                <input type="hidden" name="trade_request_id" value="<%= current_trade.items[0]._id%>" />
                <input type="hidden" name="trade_request_owner" value="<%=current_trade.items[0].trader %>" />
                <button type="submit" formaction="/trades/<%=trade.items._id%>/offer" formmethod="POST">Offer</button>
            </form>

        </td>
      </tr>


      
  <% })} %> 
</tbody>
</table>



        </form>
      </div>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>