<%- include('../partials/header.ejs') %>
<main class="main_content">
<div class="container description">
    <div class="row mb-3  p-4">
        <div class="bg-white col-xl-4 col-lg-4 col-md-6 border border-dark rounded-top"><img src="<%= item.itemImage %>" alt="<%= item.itemImage %>" class="img-fluid card-img-top"></div>
        <div class="col-xl-8 col-lg-8 col-md-6 product_card"> 
          <h2><%= item.itemName %></h2>
          <p ><%= item.itemDescription %></p>
          <h6 >Item  Status: <%=item.status %></h6>
          <form>
            <input type="hidden" name="itemName" value="<%= item.itemName %>"/>
            <% if(user!=item.trader) { %>

              <% if(item.status=="available") { %>

                <button type="submit" class="btn btn-primary" formmethod="GET" formaction="/trades/<%=item._id%>/offer">Trade</button>
             <% } %>

            
               
              
 <% if(watchedItems!=null) { %>


  <%if(watchedItems.watchedTrades!=null) {%>
    <button type="submit" class=" btn btn-primary" formmethod="POST" formaction="/trades/<%=watchedItems.watchedTrades[0].trade_item%>/unwatchtrade?_method=DELETE">Unwatch</button>
<%}
else {%>
<button type="submit" class="btn btn-primary" formmethod="POST" formaction="/trades/<%=item._id%>/watchtrade">Watch</button>
<%}} else {%>

<button type="submit" class="btn btn-primary" formmethod="POST" formaction="/trades/<%=item._id%>/watchtrade">Watch</button>
<%} %> 

                              
            
            


              <% } %>
       
          </form>
         
        </div>

    <div class="row mb-3 p-4">

    
      <div class="col-xl-4 col-lg-4 col-md-4 product_card"> 
        <form>

          <% if(user==item.trader) { %>

            <button type="submit" class="btn btn-primary" formmethod="GET" formaction="/trades/<%=item._id%>/edit" >Edit</button>
            <button type="submit" class="btn btn-primary" formmethod="POST" formaction="/trades/<%=item._id%>?_method=DELETE">Delete</button>

          <% } %>
          
      </form>
      
      </div>
    </div>
    </div>
  </div> 
 
</main>
<%- include('../partials/footer.ejs') %>